@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #806558;
  color: #fff;
}

html {
  background-color: #FAC6AC;
  color: #000;
}

:root {
  background-color: #FAC6AC;
  color: #000;
}

[data-theme='dark'] {
  background-color: #806558;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .nav-links a:hover {
  color: #FAC6AC;
}

[data-theme='dark'] .github {
  color: #FFE3A3;
}

.github {
  color: #966760;
}


