---
const platform = "github";
const username = "LoganManery"
---

<footer>
  <p class=" font-pixelify m-auto text-center p-10">Learn more about my projects on <a class="github" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>