<div class="flex justify-end w-screen">
  <!-- Hamburger Icon -->
  <button id="menuButton" class="lg:hidden p-2">
    <!-- SVG for hamburger icon -->
    <svg class="w-6 h-6 text-white lg:text-3xl" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
  
  <!-- Dropdown Menu -->
  <div id="menu" class="absolute right-0 w-64 mt-2 py-2 bg-black border rounded shadow-xl lg:hidden hidden">
    <a href="/" class="block px-4 py-2 text-white hover:bg-three hover:text-one">Home</a>
    <a href="/blog/" class="block px-4 py-2 text-white hover:bg-three hover:text-one">Blogs</a>
    <a href="/contact/" class="block px-4 py-2 text-white hover:bg-three hover:text-one">Contact</a>
  </div>

  <!-- Normal Links for Large Screens -->
  <div class="header hidden lg:flex lg:text-2xl gap-4 justify-end pr-4 my-auto">
    <a href="/" class="text-white hover:text-three">Home</a>
    <a href="/blog/" class="text-white hover:text-three">Blogs</a>
    <a href="/contact/" class="text-white hover:text-three">Contact</a>
  </div>
</div>

