---
import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro';
---
<nav class="header bg-ed flex p-2 w-screen" transition:persist>
  <ThemeIcon />
  <h1 class="justify-start font-pixelify m-auto pl-2 text-white w-1/2 text-lg lg:text-xl">Thought Canvas</h1>
  <Hamburger />
</nav>