---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/posts/*.mdx');
const pageTitle = "Thoughts";
---
<BaseLayout pageTitle={pageTitle}>
  <div>
    <h1 class="font-pixelify text-2xl">This is where I post my thoughts</h1>
    <br />
    <ul class="font-pixelify text-left w-1/2 m-auto">
      {allPosts.map((post) => <li class="p-2"><a class="text-xl hover:text-three" href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </div>
  
</BaseLayout>