--- 
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Contact Me'

const identity = {
  Name: "Logan Manery",
  country: "Canada",
  occpation: "Software Engineer",
  hobbies: ["Programming", "Gaming", "Reading", "Podcasts", "Learning"],
  contactInfo: {
    address: "Kitchener, ON",
    email: "logan.j.manery@gmail.com"
  }
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Node.js", "MongoDB", "SQL", "Python", "Java", "C++", "C#", "Git", "GitHub", "VS Code", "Linux", "Windows"]
---
<BaseLayout>
  <div class="box-content font-pixelify text-center border-2 p-5 rounded-xl shadow-2xl lg:w-1/2 sm:w-8/12 xs:w-8/12 lg:text-2xl sm:text-xl">
    <h1 class="lg:text-4xl sm:text-2xl xs:text-xl">{pageTitle}</h1>
    <h1>{identity.Name}</h1>
    <p>{identity.contactInfo.address}</p>
    <p>{identity.contactInfo.email}</p>
    <p class="font-bodinimoda">519-574-5275</p>
  </div>
</BaseLayout>